// .benefits-section {
//   padding: 94px 0px;
// }
// .benefits-list {
//   display: flex;
// }
// .benefits-items {
//   width: 270px;
//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }

// .benefits-title {
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.143;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;

//   color: $title-color;
// }
// .benefits-icon {
//   width: 70px;
//   height: 70px;
//   background-color: $filbut-team-bg;
//   &-bg {
//     @extend %flex-a-j;
//     margin-bottom: 30px;
//     width: 270px;
//     height: 120px;
//     background-color: $filbut-team-bg;
//     border-radius: 4px;
//   }
// }

// .benefits-description {
//   margin-top: 10px;

//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.714;
//   letter-spacing: 0.03em;

//   color: $text-color;
// }
