// .clients-section {
//   padding: 94px 0px;
// }
// .clients-title {
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.172;
//   text-align: center;
//   letter-spacing: 0.03em;

//   color: $title-color;
// }
// .clients-list {
//   display: flex;
//   margin-top: 50px;
// }
// .clients-link {
//   @extend %flex-a-j;

//   @include transition(border-color);

//   width: 170px;
//   height: 90px;
//   border: 1px solid #afb1b8;
//   border-radius: 4px;
//   &:hover,
//   &:focus {
//     border-color: $accent-color;
//   }
// }
// .clients-item:not(:last-child) {
//   margin-right: 30px;
// }

// .client-icon {
//   @include transition(fill);

//   fill: $icon-color;
//   .clients-link:hover > & {
//     fill: $accent-color;
//   }
//   .clients-link:focus > & {
//     fill: $accent-color;
//   }
// }
