.footer {
  padding: 60px 0px;
  background: $header-footer-bg;
}
.footer-container {
  text-align: center;
}
.company-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;

  letter-spacing: 0.03em;
  color: $hero-color;
}
.footer-contacts {
  display: block;
  margin-top: 9px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;

  letter-spacing: 0.03em;
  color: $footer-contacts-color;
}
.adress {
  font-style: normal;
  margin-top: 20px;
}
.footer-social-container {
  margin: 60px 0;
}
.join {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $hero-color;
}
.footer-social-list {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 206px;
}
.subscripe-capture {
  display: block;

  margin-bottom: 20px;
  text-transform: uppercase;
  color: $hero-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
}

.subscripe-input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;

  padding: 16px 15px;
  margin-bottom: 20px;
  color: $text-color;
  font-size: 16px;
  line-height: 1.25;

  background-color: $header-footer-bg;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subcripe-button {
  position: relative;
  @extend %flex-a-j;
  width: 200px;
  height: 50px;

  padding-left: 29px;
  padding-right: 28px;
  margin: 0 auto;

  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  letter-spacing: 0.06em;
  color: $hero-color;
  &:focus {
    outline-color: $accent-color;
    background-color: $accent-color-dark;
  }
  &:hover {
    background-color: $accent-color-dark;
  }
}
.send-icon {
  margin-left: 10px;
}

// .footer {
//   padding: 60px 0px;
//   background: $header-footer-bg;
// }
// .footer-adress-container {
//   display: inline-block;
// }

// .company-adress {
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.714;

//   letter-spacing: 0.03em;
//   color: $hero-color;
// }
// .adress {
//   font-style: normal;
//   margin-top: 20px;
// }
// .footer-contacts {
//   display: block;
//   margin-top: 9px;

//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.714;

//   letter-spacing: 0.03em;
//   color: $footer-contacts-color;
// }
// .join {
//   font-weight: bold;
//   font-size: 14px;
//   line-height: 1.143;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;

//   color: $hero-color;
// }
// .footer-social-container {
//   display: inline-block;
//   width: 206px;
//   margin-left: 70px;
// }
// .footer-social-list {
//   display: flex;
//   justify-content: space-between;
//   margin-top: 20px;
// }
// .footer-container {
//   display: flex;
//   align-items: baseline;
// }
// .social-link.infooter {
//   border-radius: 50%;
//   background: rgba(255, 255, 255, 0.1);
// }
// .infooter > .social-icon {
//   fill: $hero-color;
// }

// /*Subscripe-form*/
// .footer-form {
//   margin-left: auto;
// }

// .subscripe-capture {
//   display: block;

//   margin-bottom: 20px;
//   text-transform: uppercase;
//   color: $hero-color;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.143;
//   letter-spacing: 0.03em;
// }
// .input-container {
//   display: flex;
//   align-items: center;
// }
// .subscripe-input {
//   box-sizing: border-box;
//   width: 358px;
//   height: 50px;

//   padding: 16px 15px;

//   color: $text-color;
//   font-size: 16px;
//   line-height: 1.25;

//   background-color: $header-footer-bg;
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//   border-radius: 4px;
// }
// .subcripe-button {
//   position: relative;
//   @extend %flex-a-j;
//   width: 200px;
//   height: 50px;

//   padding-left: 29px;
//   padding-right: 28px;
//   margin-left: 12px;

//   background: $accent-color;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;

//   letter-spacing: 0.06em;
//   color: $hero-color;
//   &:focus {
//     outline-color: $accent-color;
//     background-color: $accent-color-dark;
//   }
//   &:hover {
//     background-color: $accent-color-dark;
//   }
// }
// .send-icon {
//   margin-left: 10px;
// }
