header {
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #ececec;

  z-index: 10;
}
.header-wrapper {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #ececec;
  background-color: $hero-color;
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
  display: inline-block;
  margin: 0;
  padding: 10px 0;
  border: none;
  background-color: transparent;
  outline-color: transparent;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
  @include transition(fill);
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

.nav-list__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;

  letter-spacing: 0.02em;

  color: $title-color;
}

.navigation-link {
  position: relative;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;

  @include transition(color);

  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: $title-color;
  &.current {
    color: $accent-color;
    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      content: '';
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
    }
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-contacts {
  @include transition(color);

  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: $text-color;

  &-item {
    @extend %flex-a;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.icon-mail,
.icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (max-width: 768px) {
  .menu-container {
    display: none;
    &.is-open {
      display: block;
      text-align: center;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      padding-top: 60px;
      padding-bottom: 60px;
      margin: 0 auto;

      z-index: 2;
      width: 100%;
      height: 453px;
      background-color: $hero-color;
    }
  }
  .nav-list {
    margin-bottom: 60px;
  }
  .nav-list__item:not(:last-child) {
    margin-bottom: 40px;
  }
  .header-contacts {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  header {
    height: 80px;
  }
  .header-wrapper {
    height: 80px;
  }
  .menu-button {
    display: none;
  }
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navigation-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-link {
    font-size: 14px;
    line-height: 1.143;
  }
  .header-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 1.167;
  }
  .header-contacts-list {
    margin-left: 84px;
  }
}

@media screen and (max-width: 1199px) {
  .header-contacts-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts-list {
    display: flex;
  }
  .header-contacts-item:not(:last-child) {
    margin-right: 30px;
  }
  .header-contacts-list {
    margin-left: 305px;
  }
}
