.social-list {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 16px;
}
.social-icon {
  @include transition(fill);

  width: 20px;
  height: 20px;
  fill: $icon-color;
  .social-link:hover > &,
  .social-link:focus > & {
    fill: $hero-color;
  }
}

.social-link {
  @extend %flex-a-j;

  @include transition(background-color);

  width: 44px;
  height: 44px;
  border-radius: 50%;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
