$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$title-color: #212121;
$text-color: #757575;
$accent-color: #2196f3;
$accent-color-dark: #188ce8;
$logo-color: #000000;
$hero-color: #ffffff;
$hero-bg: #c4c4c4;
$filbut-team-bg: #f5f4fa;
$header-footer-bg: #2f303a;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$icon-color: #afb1b8;
